.Rhistory
.snakemake/
Snakefile
clean/
clusters/
config.yaml
fastq/
fastqc/
mapping/
motif/
nohup.log
reproduce/
sites/
stat/
track/
.RData
homer/
igv.log
dedup/
figure/
merge/
peaks/
table/
trim/
xlsites/
logo/

